meta(name='HandheldFriendly' content='True')
meta(name='MobileOptimized' content='320')
meta(name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

base(href="/")

// CDN provided
link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css")
link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300italic,400italic,500,500italic,700,700italic,900,900italic" type="text/css")

//build:css /dist/style.css
link(rel="stylesheet" href="/lib/angular-material/angular-material.css" type="text/css")
link(rel="stylesheet" href="/css/application.css" type="text/css")
// endbuild

// build:js /dist/lib.js
script(type="text/javascript" src="/lib/jquery/dist/jquery.min.js")
script(type="text/javascript" src="/lib/lodash/lodash.min.js")
script(type="text/javascript" src="/lib/moment/moment.js")
script(type="text/javascript" src="/lib/angular/angular.js")
script(type="text/javascript" src="/lib/angular-ui-router/release/angular-ui-router.js")
script(type="text/javascript" src="/lib/angular-animate/angular-animate.js")
script(type="text/javascript" src="/lib/angular-aria/angular-aria.js")
script(type="text/javascript" src="/lib/angular-cookies/angular-cookies.js")
script(type="text/javascript" src="/lib/angular-elastic/elastic.js")
script(type="text/javascript" src="/lib/hammerjs/hammer.js")
script(type="text/javascript" src="/lib/angular-material/angular-material.js")
script(type="text/javascript" src="/lib/firebase/firebase.js")
script(type="text/javascript" src="/lib/angularfire/dist/angularfire.js")
// endbuild

script(type="text/javascript" src="/js/index.js")